<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:sports.properties"/>

	<bean id="myCricketCoach" class="com.dependencyinjection.CricketCoach">
		<property name="fortuneService" ref="myFortuneService"></property>
		<property name="teamCaptain" value = "${team.captain}"></property>
		<property name="teamSize" value = "13"></property>
	</bean>
	
		<bean id="myTrackCoach" class="com.dependencyinjection.TrackCoach">
		<constructor-arg ref = "myFortuneService"/> 
	</bean>

	<bean id="myFortuneService"
		class="com.dependencyinjection.LuckyFortuneService"></bean>
</beans>





